<div *ngIf="hero">

  <button type="button" (click)="goBack()">Go back</button>
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>Id: </span>{{hero.id}}</div>

  <form [formGroup]="heroForm" (ngSubmit)="modifyHero()">
    <div>
      <label for="name">Hero name : </label>
      <input formControlName="name" id="name" name="name" type="text"/>
      <div *ngIf="heroForm.get('name')?.invalid && (heroForm.get('name')?.dirty || heroForm.get('name')?.touched)"
           class="error-message">
        <div *ngIf="heroForm.get('name')?.errors?.['required']">
          Name is required.
        </div>
        <div *ngIf="heroForm.get('name')?.errors?.['minlength']">
          Name must be at least 3 characters long.
        </div>
      </div>
    </div>

    <div>
      <label for="attack">Hero attack : </label>
      <input formControlName="attack" id="attack" name="attack" type="number"/>
      <div *ngIf="heroForm.get('attack')?.invalid && (heroForm.get('attack')?.dirty || heroForm.get('attack')?.touched)"
           class="error-message">
        <div *ngIf="heroForm.get('attack')?.errors?.['required']">
          Attack is required.
        </div>
        <div *ngIf="heroForm.get('attack')?.errors?.['min']">
          Attack must be at least 1.
        </div>
      </div>
    </div>

    <div>
      <label for="evasion">Hero evasion : </label>
      <input formControlName="evasion" id="evasion" name="evasion" type="number"/>
      <div
        *ngIf="heroForm.get('evasion')?.invalid && (heroForm.get('evasion')?.dirty || heroForm.get('evasion')?.touched)"
        class="error-message">
        <div *ngIf="heroForm.get('evasion')?.errors?.['required']">
          Evasion is required.
        </div>
        <div *ngIf="heroForm.get('evasion')?.errors?.['min']">
          Evasion must be at least 1.
        </div>
      </div>
    </div>

    <div>
      <label for="health">Hero health : </label>
      <input formControlName="health" id="health" name="health" type="number"/>
      <div *ngIf="heroForm.get('health')?.invalid && (heroForm.get('health')?.dirty || heroForm.get('health')?.touched)"
           class="error-message">
        <div *ngIf="heroForm.get('health')?.errors?.['required']">
          Health is required.
        </div>
        <div *ngIf="heroForm.get('health')?.errors?.['min']">
          Health must be at least 1.
        </div>
      </div>
    </div>

    <div>
      <label for="damage">Hero damage : </label>
      <input formControlName="damage" id="damage" name="damage" type="number"/>
      <div *ngIf="heroForm.get('damage')?.invalid && (heroForm.get('damage')?.dirty || heroForm.get('damage')?.touched)"
           class="error-message">
        <div *ngIf="heroForm.get('damage')?.errors?.['required']">
          Damage is required.
        </div>
        <div *ngIf="heroForm.get('damage')?.errors?.['min']">
          Damage must be at least 1.
        </div>
      </div>
    </div>

    <div>
      <label for="weapon">Hero weapon : </label>
      <select formControlName="weapon" id="weapon" name="weapon">
        <option value=""></option>
        <option *ngFor="let weapon of weapons" [value]="weapon.id">{{weapon.name}}</option>
      </select>
    </div>


    <div *ngIf="heroForm.hasError('forbiddenAttributes')" class="error-message">
      Total attributes cannot exceed 40.
    </div>

    <div class="error" *ngIf="remainingPoints()">
      <p class="error-message">Remaining points : {{remainingPoints()}}</p>
    </div>

    <div *ngIf="heroForm.hasError('forbiddenWeaponAttributsValidator')" class="error-message">
      <p>The total of weapon attributes and hero attributes cannot be less than 1 for attributes :</p>
      <ul>
        <li *ngFor="let attribute of heroForm.getError('invalidAttributes')">{{ attribute }}</li>
      </ul>
    </div>

    <button type="submit" [disabled]="!heroForm.valid">Modify the hero</button>
    <button (click)="deleteHero(this.hero.id || '')">Delete the hero</button>
  </form>
</div>
