<h2>My Heroes</h2>
<div class="div-principale">
  <div class="sort">
    <label>Sort with : </label>
    <select [(ngModel)]="selectedSortOption">
      <option value=""></option>
      <option value="name">Name</option>
      <option value="attack">Attack</option>
      <option value="evasion">Evasion</option>
      <option value="dammage">Dammage</option>
      <option value="health">Health</option>
    </select>
    <button (click)="sortHeroes(selectedSortOption)">Sort</button>

    <button class="filter" (click)="filter_dialog.showModal()">Filter</button>
  </div>

  <div>
    <ul class="heroes">
      <li *ngFor="let hero of heroes">
        <a routerLink="/heroes/{{hero.id}}">
          <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
      </li>
      <button (click)="newHero()">Add a hero</button>
    </ul>
  </div>
</div>

<dialog #filter_dialog>
  <div class="row_filter">
    <h2>Filter</h2>
    <button (click)="filter_dialog.close()">Fermer</button>
  </div>

  <hr>
  <div class="row_filter">
    <select [(ngModel)]="selectedFilterOption">
      <option value=""></option>
      <option value="attack">Attack</option>
      <option value="evasion">Evasion</option>
      <option value="dammage">Dammage</option>
      <option value="health">Health</option>
    </select>
    <select [(ngModel)]="selectedFilterOperator">
      <option value=""></option>
      <option value=">">></option>
      <option value="<"><</option>
      <option value="=">=</option>
    </select>
    <select [(ngModel)]="selectedFilterValue">
      <option value=""></option>
      <option value="0">0</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
    <button (click)="filterHeroes();filter_dialog.close()">Filter</button>
  </div>
</dialog>
